.loginpage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  .mat-form-field {
    //width: 300px;
  }
  .form {
    display: flex;
    flex-direction: column;
    //  flex: ;
  }
}
