<div class="loginpage">
    <app-loading [visible]="loader"></app-loading>
    <h1 style="font-family: Verdana,  sans-serif;">Welcome</h1>
    <form [formGroup]="loginForm" (ngSubmit)="loginWithEmail()" class="form">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-hint *ngIf="email.errors && email.touched">
                <span *ngIf="email.errors.required">Email Required</span>
                <span *ngIf="email.errors.email">Email no valid</span>
            </mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" matInput placeholder="Placeholder">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-hint *ngIf="password.errors && password.touched">
                <span *ngIf="password.errors.required">Password Required</span>
            </mat-hint>
        </mat-form-field>
        
        <button type="submit" mat-flat-button color="primary">Sing in</button>
    </form>
    <button mat-button (click)="openForgot()">Forgot Password?</button>

    <div>
        OR
    </div>

    <div (click)="loginWithGoogle()">
        <img src="assets/img/btn_google.png" alt="">
    </div>


    <div>Don't have an account ? <a routerLink="/signup">Sign up</a> </div>
</div>