<mat-card class="post" *ngFor="let item of postData">
    <mat-card-header>
        <mat-card-title [routerLink]="['/user',item.userId]">{{item.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="item.imgsrc | getDownloadURL">
    <mat-card-content>
        <p>{{item.desc}}</p>
    </mat-card-content>

</mat-card>