<app-loading [visible]="loader"></app-loading>
<mat-toolbar color="primary">
    <mat-icon matSuffix (click)="back()" class="material-icons-outlined">
        arrow_back
    </mat-icon>
    <label for="">Edit Profile</label>
</mat-toolbar>

<div>
    <form [formGroup]="editForm">
        <mat-grid-list cols="12" rowHeight="75px">
            <mat-grid-tile [colspan]="12" [rowspan]="2">
                <img class="img" [src]="currentUser?.propic" onerror='this.src="assets/img/deffult.jpg"' alt="">
                <!--<mat-icon matSuffix></mat-icon>-->
                <button mat-button color="accent" (click)="profileEdit.click()">Change Profile photo</button>
                <input type="file" hidden #profileEdit (change)="changeImage($event)">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="12">
                <mat-form-field appearance="outline" style="width: 250px;">
                    <mat-label>Name</mat-label>
                    <input name="name" matInput formControlName="name" [value]="currentUser?.name" placeholder="Name">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="12">
                <mat-form-field appearance="outline" style="width: 250px;">
                    <mat-label>Email</mat-label>
                    <input name="email" matInput formControlName="email" [value]="currentUser?.email"
                        placeholder="Enter Email">
                    <mat-hint *ngIf="Email.touched && Email.errors">
                        <span *ngIf="Email.errors.email && Email.errors">
                            Email not valid
                        </span>
                    </mat-hint>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="12" [rowspan]="2">
                <mat-form-field appearance="outline" style="width: 250px;">
                    <mat-label>Bio</mat-label>
                    <textarea rows="5" matInput name="bio" formControlName="bio"
                        [value]="currentUser?.bio || '' "></textarea>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="12">
                <mat-form-field appearance="outline" style="width: 250px;">
                    <mat-label>Number</mat-label>
                    <input type="tel" matInput formControlName="number" name="number"
                        [value]="currentUser?.number || '' " placeholder="Enter Number">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="12">
                <mat-form-field appearance="outline" style="width: 250px;">
                    <mat-label>Birth Date</mat-label>
                    <input type="date" matInput formControlName="dob" name="dob" [value]="currentUser?.dob"
                        placeholder="birth date">
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="12">
                <button mat-flat-button color="accent" (click)="updateData()">Update</button>
            </mat-grid-tile>
        </mat-grid-list>

    </form>
</div>