<h3><b>{{data.title}}</b></h3>
<img mat-card-image [src]="data.imgsrc | getDownloadURL" alt="">
<hr>
<div>{{data.desc}}</div>
<div class="text-center">
    <button *ngIf="isCurrentUser" color="warn" mat-button (click)="deletePost(data.id)">Delete</button>
</div>