<!--<mat-toolbar color="primary">
    <span>Search</span>
</mat-toolbar>-->

<mat-toolbar style="height:100px;" color="primary">
    <mat-form-field style="width: 100%;" class="example-full-width">
        <mat-label>
            <mat-icon>search</mat-icon>
            Search

        </mat-label>
        <input type="text" matInput [formControl]="search" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let item of filterData | async" [value]="item?.name">
                {{item?.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

</mat-toolbar>

<mat-card class="card" *ngFor="let item of filterData | async" [routerLink]="['/user', item?.id]"
    routerLinkActive="router-link-active">
    <!--{{item | json}}-->
    <img class="img" style="height: 75px;" [src]="item?.propic" alt="">
    <div>
        <p>{{item?.name}}</p>
        <p>{{item?.email}}</p>
    </div>
</mat-card>