<app-loading [visible]="loader"></app-loading>
<section class="signup">
    <div class="main">
        <form [formGroup]="SignupForm">
            <h1 style="margin-bottom: 5rem;font-family: Verdana, sans-serif;">Registaion</h1>
            <mat-card-content>
                <mat-grid-list cols="12" rowHeight="75px">
                    <mat-grid-tile [colspan]="12">
                        <mat-form-field appearance="outline" style="width: 250px;">
                            <mat-label>Name</mat-label>
                            <input name="name" matInput formControlName="name" placeholder="Name">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="12">
                        <mat-form-field appearance="outline" style="width: 250px;">
                            <mat-label>Email</mat-label>
                            <input name="email" matInput formControlName="email" placeholder="Enter Email">
                            <mat-hint *ngIf="Email.touched && Email.errors">
                                <span *ngIf="Email.errors.email && Email.errors">
                                    Email not valid
                                </span>
                            </mat-hint>

                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="12">
                        <mat-form-field appearance="outline" style="width: 250px;">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" name="password" formControlName="password"
                                placeholder="Password">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="12">
                        <mat-form-field appearance="outline" style="width: 250px;">
                            <mat-label>Confirem Password</mat-label>
                            <input matInput type="password" name="copass" formControlName="copass"
                                placeholder="Confirem Password">
                            <mat-hint *ngIf="SignupForm.hasError('notMatch') && Copass.touched && Copass.dirty">Password
                                not match*
                            </mat-hint>
                        </mat-form-field>

                    </mat-grid-tile>


                </mat-grid-list>
            </mat-card-content>
            <mat-card-actions>
                <section class="example-section">
                    <mat-checkbox class="example-margin" style="font-size: 0.8rem;" name="term" formControlName="term">
                        Agree to
                        terms and conditions</mat-checkbox>
                </section>
                <button type="submit" color="primary" style="width: 250px;" (click)="register()" mat-flat-button>Sign
                    up</button>
            </mat-card-actions>
            <button mat-button routerLink="/login">Have have an account ? <u>SIGN IN</u></button>
        </form>

    </div>

</section>