<div>
    <form [formGroup]="emailForm">

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email">
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-hint *ngIf="email.errors && email.touched">
                <span *ngIf="email.errors.required">Email Required</span>
                <span *ngIf="email.errors.email">Email no valid</span>
            </mat-hint>
        </mat-form-field>

        <mat-dialog-actions align="end">
            <button mat-button (click)="onNoClick()">Cancel</button>
            <button mat-flat-button (click)="sendResetEmail()" color="accent" cdkFocusInitial>Send link</button>
        </mat-dialog-actions>
    </form>
</div>