<router-outlet>
    <mat-tab-group headerPosition="below" [selectedIndex]="select" (selectedIndexChange)="getLoadedComponent($event)">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon matSuffix [routerLink]="['/home']" fragment="home">home</mat-icon>
            </ng-template>
            <!--<div *ngIf="fragment == 'home'">-->
            <mat-toolbar color="primary">
                <span>Home</span>
            </mat-toolbar>

            <app-one-column-post [postData]="PostData | async"></app-one-column-post>

        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon matSuffix [routerLink]="['/home']" fragment="search">person_search</mat-icon>

            </ng-template>
            <div *ngIf="fragment == 'search'">
                <app-user-search></app-user-search>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon matSuffix [routerLink]="['/home']" fragment="newpost">add_photo_alternate</mat-icon>
            </ng-template>
            <div *ngIf="fragment == 'newpost'">
                <app-post-uploder></app-post-uploder>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon matSuffix [routerLink]="['/home']" fragment="profile">account_circle</mat-icon>
            </ng-template>
            <div *ngIf="fragment == 'profile'">
                <app-user-profile></app-user-profile>
            </div>
        </mat-tab>
    </mat-tab-group>

</router-outlet>