.mat-tab-group {
  height: 100%;
}
::ng-deep.mat-tab-labels {
  display: flex;
  justify-content: space-between !important;
}
::ng-deep.mat-tab-body-wrapper {
  height: 100%;
}
.post {
  margin-bottom: 3px;
}
