.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.img-cropper {
  height: 300px;
}

form {
  display: flex;
  flex-direction: column;
}
