<mat-toolbar color="primary">
    <span>New Post</span>
</mat-toolbar>
<div class="container">
<mat-progress-bar color="accent" *ngIf="(uploadPercent | async) > 0 && (uploadPercent | async) < 100 " mode="determinate"
    [value]="uploadPercent | async">
</mat-progress-bar>
<div class="main">
    <form style="text-align: center;" [formGroup]="postForm" (ngSubmit)="upload()">
        <!--<mat-list role="list">
            <mat-list-item role="listitem"></mat-list-item>
        </mat-list>-->
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input formControlName="title" matInput placeholder="Title">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="desc" matInput placeholder="description"></textarea>
        </mat-form-field>
        <!--<mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input type="file" formControlName="desc"  placeholder="description">
        </mat-form-field>-->

        <mat-form-field appearance="outline">
            <ngx-mat-file-input formControlName="file">
            </ngx-mat-file-input>
            <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
        <br>

        <h3 *ngIf="imagecroper">Crop Image</h3>
        <image-cropper class="img-cropper" *ngIf="imagecroper" class="myimg" [maintainAspectRatio]="true" [aspectRatio]="1/ 1"
            [containWithinAspectRatio]="true" (imageCropped)="imageCropped($event)" [cropperMinWidth]="200"
            [roundCropper]="false" [imageQuality]="5" [alignImage]="'center'" [imageFile]="imagecroper">
        </image-cropper>
        <button type="submit" color="accent" mat-raised-button>
            <mat-icon>add_circle_outline</mat-icon>
            Upload
        </button>
    </form>




</div>