/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
//mat-toolbar{
//    border-radius: 0rem 0rem 1rem 1rem;
//}

mat-form-field{
    width: 280px;
}