<!--<div *ngFor="let item of userData">
    <img [src]="item.imgsrc | getDownloadURL" alt="">
</div>-->

<mat-grid-list cols="12" rowHeight="200px">
    <mat-grid-tile *ngFor="let item of userData" [colspan]="'4'">
        <img mat-card-image (click)="openDialog(item)" [src]="item.imgsrc | getDownloadURL" alt="">
    </mat-grid-tile>
</mat-grid-list>