::ng-deep.mat-tab-body-wrapper {
  height: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}
img {
  display: block;
}
.f-right{
    float: right;
}
//.img {
//  border-radius: 50%;
//  width: 75px;
//}
//.profile {
//  display: flex;
//  margin-left: 0.5rem;
//  flex-direction: row;
////  justify-content: space-evenly;
//}
//.meta{
//    margin-left: 1rem;
//}

.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
  border-bottom: 1px solid #80808040;
}

.profile {
  padding: 1rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}
.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}

.profile-image img {
  border-radius: 50%;
  max-width: 150px;
}
.profile-user-settings,
.profile-stats {
  float: left;
  width: calc(66.666% - 2rem);
}
.profile-user-name {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
}

.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;
}
.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}
