<mat-toolbar color="primary">
    <span>{{userdata?.name}}</span>
    <span class="example-spacer"></span>
    <button mat-button>
        <mat-icon matSuffix (click)="logout()" class="material-icons-outlined">
            logout
        </mat-icon>
    </button>
</mat-toolbar>
<div class="container">

    <div class="profile">
        <div class="profile-image">
            <img class="img" [src]="userdata?.propic" onerror='this.src="assets/img/deffult.jpg"' alt="">

        </div>
        <div class="profile-user-settings">
            <span class="profile-user-name">{{userdata?.name | titlecase}} </span>
            <button mat-stroked-button color="warn" routerLink='/edit-profile' queryParams="">Edit
                Profile</button>
        </div>

        <p> Email : {{userdata?.email}}</p>
        <p> Number : {{userdata?.number}}</p>
        <p>Dob : {{userdata?.dob}}</p>
        <button class="f-right" mat-mini-fab [routerLink]="['/user-location']"
            [queryParams]="{lat:userdata?.latitude,long:userdata?.longitude}" routerLinkActive="router-link-active">
            <mat-icon>explore</mat-icon>
        </button>
        <div class="profile-bio">
            <p>{{userdata?.bio}}</p>
        </div>

    </div>
</div>
<div>
    <app-user-posts [userData]="userPosts"></app-user-posts>
</div>
<!--<mat-card>
    <mat-card-content>
        <div class="profile">
            <div class="avtar">
                <img class="img" [src]="userdata?.propic" onerror='this.src="assets/img/deffult.jpg"' alt="">

            </div>
            <div class="meta">
                <div>
                    <span> {{userdata?.name | titlecase}} </span> <br>
                    <span> {{userdata?.email}} </span><br>
                    <span> {{userdata?.number}} </span><br>
                    <span> {{userdata?.email}} </span><br>
                </div>
            </div>

        </div>
        <button mat-button color="warn" routerLink='/edit-profile'>Edit Profile</button>

    </mat-card-content>
</mat-card>-->


<!--<mat-grid-list cols="12" rowHeight="100px">
    <mat-grid-tile colspan="3">
        <div>
            <img class="img" [src]="userdata?.propic" onerror='this.src="assets/img/deffult.jpg"' alt="">
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="9">
        <mat-list role="list">
            <mat-list-item role="listitem">{{userdata?.name | titlecase}}</mat-list-item>
            <mat-list-item role="listitem">{{userdata?.email}}</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
        <div>
            <h3> {{userdata?.name | titlecase}} </h3>
            <h3> {{userdata?.email}} </h3>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
        <div>
            <button mat-button color="warn" routerLink='/edit-profile'>Edit Profile</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>-->

<!--<button mat-fab color="warn" (click)="logout()">logout</button>-->