<mat-toolbar color="primary">
    <mat-icon (click)="back()">arrow_back </mat-icon>
    <span>{{(user|async)?.name | titlecase}}</span>
</mat-toolbar>
<div class="container">

    <div class="profile">
        <div class="profile-image">
            <img class="img" [src]="(user|async)?.propic" onerror='this.src="assets/img/deffult.jpg"' alt="">

        </div>
        <div class="profile-user-settings">
            <span class="profile-user-name">{{(user|async)?.name | titlecase}} </span>
        </div>

        <p> Email : {{(user|async)?.email}}</p>
        <p> Number : {{(user|async)?.number}}</p>
        <p>Dob : {{(user|async)?.dob}}</p>
        <button class="f-right" *ngIf="(user|async)?.latitude && (user|async)?.longitude" mat-mini-fab [routerLink]="['/user-location']"
            [queryParams]="{lat:(user|async)?.latitude,long:(user|async)?.longitude}" routerLinkActive="router-link-active">
            <mat-icon>explore</mat-icon>
        </button>
        <div class="profile-bio">
            <p>{{(user|async)?.bio}}</p>
        </div>

    </div>
</div>
<div>
    <app-user-posts [userData]="posts | async"></app-user-posts>
</div>